// Main sections Headings
.heading-2 {
	@include fluid-font(36px, 84px);
	font-family: $font-main;
	line-height: 1.5;
	letter-spacing: 1.4px;
	position: relative;
	padding: 0rem 2rem;

	&::after {
		content: "";
		height: 0.1rem;
		position: absolute;

		bottom: 0;

		width: 3.5rem;
	}

	&--dark {
		color: $dark;

		&::after {
			background-color: $dark;
		}
	}

	&--light {
		color: $light;

		&::after {
			background-color: $light;
		}
	}
}

// Heading Supported by ...
.heading-3 {
	@include fluid-font(22px, 36px);
	font-family: $font-main;
	color: $dark;
	line-height: 1.7;
	letter-spacing: 1.6px;
	padding: 0 2rem;
}

// Heading MiMo Podcast nº
.heading-4 {
	@include fluid-font(18px, 30px);
	font-family: $font-complement;
	color: $red-light;
	line-height: 1.7;
	letter-spacing: 1.6px;
}

// Footer Headings
.heading-5 {
	@include fluid-font(18px, 24px);
	color: $light-dark;
	font-family: $font-main;
	padding-bottom: 0.5rem;
	position: relative;
	margin-bottom: 1.2rem;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 0.2rem;
		background-color: $light-dark;
		max-width: 600px;
		width: 90%;
	}
}

// Normal Text
.text {
	@include fluid-font(16px, 24px);
	color: $light;
	font-family: $font-main;
	line-height: 1.4;
	margin-bottom: 2rem;
	max-width: 75rem;
}
