.heading-2 {
	@include fluid-font(36px, 84px);
	font-family: $font-main;
	line-height: 1.5;
	letter-spacing: 1.4px;
	position: relative;

	&::after {
		content: "";
		height: 0.1rem;
		position: absolute;

		bottom: 0;

		width: 3.5rem;
	}

	&--dark {
		color: $dark;

		&::after {
			background-color: $dark;
		}
	}

	&--light {
		color: $light;

		&::after {
			background-color: $light;
		}
	}
}

.heading-3 {
	@include fluid-font(28px, 36px);
	font-family: $font-main;
	color: $light;
	line-height: 1.7;
	letter-spacing: 1.6px;
}

.heading-4 {
	@include fluid-font(18px, 30px);
	font-family: $font-complement;
	color: $red-light;
	line-height: 1.7;
	letter-spacing: 1.6px;
}
