@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes scroll {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(calc(-250px * 4)); } }

/* SASS mixin for fluid font */
/*
/// $min - Minimum font size (px, rem)
/// $max - Maximum font size (px, rem)
/// $min-vw - Minimum viewport value lock range (px) --(optional)
/// $max-vw - Maximum viewport value lock range (px) --(optional)
/// $fallback - fallback font size (px, rem) --(optional)
*/
.mimo-podcast__wrapper, .records, .siona-records {
  padding: 15rem 0.5rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  background-color: #e4e4e4; }

.max-width {
  max-width: 1440px;
  margin: 0 auto; }

img {
  width: 100%;
  display: block; }

.heading-2 {
  font-size: 84px;
  font-size: calc( 36px + (84 - 36) * ((100vw - 320px) / (1600 - 320)));
  font-family: "Nanum Gothic Coding", monospace;
  line-height: 1.5;
  letter-spacing: 1.4px;
  position: relative;
  padding: 0rem 2rem; }
  @media screen and (max-width: 320px) {
    .heading-2 {
      font-size: 36px; } }
  @media screen and (min-width: 1600px) {
    .heading-2 {
      font-size: 84px; } }
  .heading-2::after {
    content: "";
    height: 0.1rem;
    position: absolute;
    bottom: 0;
    width: 3.5rem; }
  .heading-2--dark {
    color: #0e1417; }
    .heading-2--dark::after {
      background-color: #0e1417; }
  .heading-2--light {
    color: #e4e4e4; }
    .heading-2--light::after {
      background-color: #e4e4e4; }

.heading-3 {
  font-size: 36px;
  font-size: calc( 22px + (36 - 22) * ((100vw - 320px) / (1600 - 320)));
  font-family: "Nanum Gothic Coding", monospace;
  color: #0e1417;
  line-height: 1.7;
  letter-spacing: 1.6px;
  padding: 0 2rem; }
  @media screen and (max-width: 320px) {
    .heading-3 {
      font-size: 22px; } }
  @media screen and (min-width: 1600px) {
    .heading-3 {
      font-size: 36px; } }

.heading-4 {
  font-size: 30px;
  font-size: calc( 18px + (30 - 18) * ((100vw - 320px) / (1600 - 320)));
  font-family: "Amatic SC", cursive;
  color: #fa3d5b;
  line-height: 1.7;
  letter-spacing: 1.6px; }
  @media screen and (max-width: 320px) {
    .heading-4 {
      font-size: 18px; } }
  @media screen and (min-width: 1600px) {
    .heading-4 {
      font-size: 30px; } }

.text {
  font-size: 24px;
  font-size: calc( 16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
  color: #e4e4e4;
  font-family: "Nanum Gothic Coding", monospace;
  line-height: 1.4;
  margin-bottom: 2rem;
  max-width: 75rem; }
  @media screen and (max-width: 320px) {
    .text {
      font-size: 16px; } }
  @media screen and (min-width: 1600px) {
    .text {
      font-size: 24px; } }

.tac {
  text-align: center; }

.alignLeft {
  text-align: left; }

.footer * {
  color: #e4e4e4; }

.heading-5 {
  font-size: 24px;
  font-size: calc( 18px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));
  color: #c5c5c5;
  font-family: "Nanum Gothic Coding", monospace;
  padding-bottom: 0.5rem;
  position: relative;
  margin-bottom: 1.2rem; }
  @media screen and (max-width: 320px) {
    .heading-5 {
      font-size: 18px; } }
  @media screen and (min-width: 1600px) {
    .heading-5 {
      font-size: 24px; } }
  .heading-5::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.2rem;
    background-color: #c5c5c5;
    max-width: 600px;
    width: 90%; }

.footer {
  background-color: #0e1417; }
  .footer__wrapper {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    padding: 3rem; }
  .footer article {
    margin-bottom: 2rem; }
  .footer__logo {
    grid-row: 1/2;
    background-color: #e4e4e4;
    margin-bottom: 5rem;
    width: 40%; }
  .footer__support {
    grid-row: 2/3; }
  .footer__community {
    grid-row: 3/4;
    padding-bottom: 5rem; }
  .footer__creator {
    grid-row: 4/5; }
  .footer__media-list {
    display: flex;
    flex-wrap: wrap; }
  .footer__item {
    font-size: 20px;
    font-size: calc( 15px + (20 - 15) * ((100vw - 320px) / (1600 - 320)));
    font-family: "PT Mono", monospace;
    list-style: none;
    padding: 1rem; }
    @media screen and (max-width: 320px) {
      .footer__item {
        font-size: 15px; } }
    @media screen and (min-width: 1600px) {
      .footer__item {
        font-size: 20px; } }
  .footer__link {
    text-decoration: none;
    display: flex;
    align-items: center; }
  .footer__icon {
    width: 2rem;
    height: 2rem;
    margin: auto; }

.gallery {
  display: flex;
  flex-direction: column;
  background-color: #0e1417; }
  .gallery__pics {
    display: grid;
    grid-template-columns: 30% 30% auto;
    grid-template-rows: repeat(8, 20vh);
    grid-gap: 1rem;
    padding: 5rem 0.5rem;
    margin: 0 auto; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
    .gallery__img:nth-child(1) {
      grid-column: 1/3;
      grid-row: 1/4; }
    .gallery__img:nth-child(2) {
      grid-column: 3/-1;
      grid-row: 1/3; }
    .gallery__img:nth-child(3) {
      grid-column: 1/2;
      grid-row: 4/5; }
    .gallery__img:nth-child(4) {
      grid-column: 2/3;
      grid-row: 4/5; }
    .gallery__img:nth-child(5) {
      grid-column: 3/-1;
      grid-row: 3/6; }
    .gallery__img:nth-child(6) {
      grid-column: 1/3;
      grid-row: 5/-1; }
    .gallery__img:nth-child(7) {
      grid-column: 3/-1;
      grid-row: 6/ -1; }

.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/miss_monique_background_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(228, 228, 228, 0.1) 70%, #0e1417 100%); }
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: relative; }
  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%; }
    .header__navigation__logo {
      height: 100%;
      padding: 1rem;
      position: relative;
      z-index: 9990; }
      .header__navigation__logo__heading {
        display: flex;
        align-items: center;
        height: 100%; }
      .header__navigation__logo__img {
        background-color: #fff;
        width: 15rem; }
    .header__navigation__list {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      position: absolute;
      right: 1rem;
      z-index: 9000; }
      @media only screen and (max-width: 48em) {
        .header__navigation__list {
          visibility: hidden;
          flex-direction: column;
          justify-content: space-evenly;
          width: 100%;
          background-color: #0e1417;
          position: absolute;
          top: 0;
          left: 0;
          padding-bottom: 3rem;
          padding-top: 10%;
          height: 100vh; } }
    .header__navigation__item {
      list-style: none;
      margin-left: 2rem; }
      @media only screen and (max-width: 48em) {
        .header__navigation__item {
          margin-top: 2.5rem; } }
    .header__navigation__link {
      font-size: 32px;
      font-size: calc( 20px + (32 - 20) * ((100vw - 320px) / (1600 - 320)));
      font-family: "Nanum Gothic Coding", monospace;
      color: #e4e4e4;
      text-decoration: none;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #399441;
      border-bottom-width: 0;
      position: relative; }
      @media screen and (max-width: 320px) {
        .header__navigation__link {
          font-size: 20px; } }
      @media screen and (min-width: 1600px) {
        .header__navigation__link {
          font-size: 32px; } }
      .header__navigation__link::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: #c5c5c5 !important; }
      .header__navigation__link:hover {
        color: #c5c5c5; }
        .header__navigation__link:hover::after {
          width: 100%;
          transition: all 0.5s ease-in-out; }
  .header__features {
    font-family: "Amatic SC", cursive;
    display: flex;
    flex-direction: column;
    width: 100%;
    filter: brightness(200%);
    z-index: 8888;
    position: absolute;
    bottom: 0; }
    .header__features__text {
      padding: 0 3rem;
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      column-gap: 1.5rem;
      align-items: center;
      font-size: 1.6rem;
      color: #399441;
      font-weight: bold; }
      .header__features__text::before, .header__features__text::after {
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor; }
    .header__features__box {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
    .header__features__patron {
      font-size: 45px;
      font-size: calc( 16px + (45 - 16) * ((100vw - 320px) / (1600 - 320)));
      color: #399441;
      padding: 1.25rem;
      text-align: center;
      text-transform: uppercase;
      mix-blend-mode: difference;
      width: auto;
      text-align: center; }
      @media screen and (max-width: 320px) {
        .header__features__patron {
          font-size: 16px; } }
      @media screen and (min-width: 1600px) {
        .header__features__patron {
          font-size: 45px; } }

.mimo-podcast > * {
  max-width: 745px; }

.mimo-podcast {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #0e1417; }
  .mimo-podcast__wrapper {
    background-color: #0e1417;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    align-content: center; }
    @media only screen and (max-width: 1024px) {
      .mimo-podcast__wrapper {
        grid-template-columns: 1fr; } }
  .mimo-podcast__description {
    align-self: center;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 1024px) {
      .mimo-podcast__description {
        margin-bottom: 5rem; } }
    .mimo-podcast__description .text {
      text-align: left; }
  .mimo-podcast__youtube {
    position: relative;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .mimo-podcast__youtube__title {
      margin-top: 1.5rem;
      position: relative;
      margin-bottom: 2.5rem; }
      @media only screen and (max-width: 1024px) {
        .mimo-podcast__youtube__title {
          margin-top: 3rem; } }
    .mimo-podcast__youtube__slider {
      width: 70%;
      min-height: 350px;
      height: 70%;
      display: flex;
      flex-flow: row wrap;
      align-content: flex-start;
      overflow: hidden;
      position: relative; }
      .mimo-podcast__youtube__slider__video {
        width: 100%;
        min-height: 350px;
        height: 70%;
        position: absolute;
        border: 1px solid #5d090f;
        border-radius: 5px; }
    .mimo-podcast__youtube__nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-top: 1rem; }
      .mimo-podcast__youtube__nav__balls {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 1.5rem;
        text-align: center; }
        .mimo-podcast__youtube__nav__balls > .ball {
          align-self: center;
          height: 0.75rem;
          width: 0.75rem;
          border: none;
          border-radius: 50%;
          margin: 0 0.5rem; }
        .mimo-podcast__youtube__nav__balls .ball-active {
          background-color: #fa3d5b;
          height: 0.95rem;
          width: 0.95rem; }
      .mimo-podcast__youtube__nav__btn {
        background-color: transparent;
        border: none;
        color: #e4e4e4;
        cursor: pointer;
        font-size: 2rem; }
        .mimo-podcast__youtube__nav__btn:hover {
          color: #fa3d5b; }
        .mimo-podcast__youtube__nav__btn--back {
          margin-right: 2rem; }
        .mimo-podcast__youtube__nav__btn--next {
          margin-left: 2rem; }
    .mimo-podcast__youtube__link {
      background-color: #fa3d5b;
      border-radius: 5px;
      color: #e4e4e4;
      font-family: "Amatic SC", cursive;
      font-size: 3rem;
      text-align: center;
      margin-top: 2.5rem;
      line-height: 5rem;
      width: 15rem;
      text-decoration: none; }

.records {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4; }
  .records__container {
    max-width: 1350px;
    margin: 0 auto; }
  .records__singles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1fr 1fr;
    grid-gap: 50px;
    justify-items: center;
    padding: 5rem 0.5rem;
    position: relative; }
    @media only screen and (max-width: 960px) {
      .records__singles {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 600px) {
      .records__singles {
        grid-template-columns: 1fr; } }
  .records__single {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 1rem; }
    @media only screen and (max-width: 600px) {
      .records__single:nth-child(4), .records__single:nth-child(5), .records__single:nth-child(6) {
        display: none; } }
    .records__single__number {
      grid-column: 1/1;
      grid-row: 1/1;
      font-size: 3rem;
      font-family: "Amatic SC", cursive;
      color: #0e1417;
      font-weight: bold;
      align-self: end; }
    .records__single__img {
      border-radius: 5px;
      grid-column: 1/4;
      grid-row: 2/-1; }
    .records__single__play {
      grid-column: 2/3;
      grid-row: 3/4;
      border: 5px solid #e4e4e4;
      border-radius: 50px;
      position: relative;
      opacity: 0.5;
      cursor: pointer; }
      .records__single__play:hover {
        opacity: 1; }
      .records__single__play__btn {
        background-color: #e4e4e4;
        clip-path: polygon(70% 50%, 35% 30%, 35% 70%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
    .records__single__heading-4 {
      grid-column: 4/6;
      grid-row: 4/5;
      font-size: 24px;
      font-size: calc( 18px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));
      font-family: "Amatic SC", cursive;
      color: #fa3d5b;
      align-self: center;
      text-shadow: 1px 1px #c5c5c5; }
      @media screen and (max-width: 320px) {
        .records__single__heading-4 {
          font-size: 18px; } }
      @media screen and (min-width: 1600px) {
        .records__single__heading-4 {
          font-size: 24px; } }
  .records__btn-show-more {
    font-size: 22px;
    font-size: calc( 18px + (22 - 18) * ((100vw - 320px) / (1600 - 320)));
    background-color: transparent;
    border: 1px solid #399441;
    border-radius: 5px;
    color: #0e1417;
    cursor: pointer;
    padding: 1rem;
    display: none; }
    @media screen and (max-width: 320px) {
      .records__btn-show-more {
        font-size: 18px; } }
    @media screen and (min-width: 1600px) {
      .records__btn-show-more {
        font-size: 22px; } }
    .records__btn-show-more:hover {
      border-color: #fa3d5b; }
    @media only screen and (max-width: 600px) {
      .records__btn-show-more {
        display: inline-block; } }

.siona-records__features {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 15rem 0; }
  .siona-records__features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #252e32;
    background-color: #c5c5c5;
    border-radius: 5px;
    color: #0e1417 !important;
    height: 250px;
    margin: 3rem 2.5rem;
    max-width: 25rem;
    padding: 1rem; }
    .siona-records__features__text > .fas {
      font-size: 5rem;
      margin-bottom: 1.5rem; }

.siona-records__supported {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  max-height: 5rem;
  max-width: 100rem;
  width: 85%;
  overflow: hidden; }
  .siona-records__supported__slider {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: calc(250px * 8); }
    .siona-records__supported__slider__img {
      animation: scroll 30s linear infinite;
      margin: 0 2rem;
      max-height: 5rem;
      width: 250px; }

.burger-box {
  display: flex;
  justify-content: center;
  align-items: center; }

.hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: #e4e4e4;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  position: absolute;
  right: 2rem;
  z-index: 9000;
  display: none; }
  @media only screen and (max-width: 48em) {
    .hamburger {
      display: inline-block; } }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #e4e4e4; }

.hamburger-box {
  width: 30px;
  height: 15px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 1px;
    background-color: #e4e4e4;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -7px; }
  .hamburger-inner::after {
    bottom: -7px; }

/*
     * Spring
     */
.hamburger--spring .hamburger-inner {
  top: 0.5px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 7px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 14px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spring.is-active .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .hamburger--spring.is-active .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 7px, 0) rotate(45deg); }
  .hamburger--spring.is-active .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 7px, 0) rotate(-45deg); }

.loader {
  background-color: #0e1417;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  transition: all 2s;
  -webkit-transition: all 1.5s;
  -moz-transition: all 2s; }
  .loader__text {
    font-size: 35px;
    font-size: calc( 22px + (35 - 22) * ((100vw - 320px) / (1600 - 320)));
    color: #e4e4e4;
    font-family: "Nanum Gothic Coding", monospace;
    margin-bottom: 3rem; }
    @media screen and (max-width: 320px) {
      .loader__text {
        font-size: 22px; } }
    @media screen and (min-width: 1600px) {
      .loader__text {
        font-size: 35px; } }
  .loader__wheel {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: #0a2910;
    background: -moz-linear-gradient(left, #0a2910 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #0a2910 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #0a2910 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #0a2910 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #0a2910 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: loader 1.4s infinite linear;
    animation: loader 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0); }
    .loader__wheel::before {
      width: 50%;
      height: 50%;
      background: #0a2910;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: ""; }
    .loader__wheel::after {
      background: #0e1417;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: "";
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; }

.b-lazy {
  opacity: 0;
  transform: scale(3);
  transition: all 500ms; }

.b-loaded {
  opacity: 1;
  transform: scale(1); }
