.mimo-podcast > * {
	max-width: 745px;
}

.mimo-podcast {
	display: flex;
	flex-direction: column;

	width: 100%;
	background-color: $dark;

	&__wrapper {
		background-color: $dark;
		margin: 0 auto;
		@extend %containerPadding;
		max-width: 1500px;
		width: 100%;

		position: relative;
		overflow: hidden;

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content;
		align-content: center;

		@media only screen and(max-width: 1024px) {
			grid-template-columns: 1fr;
		}
	}

	&__description {
		align-self: center;
		padding: 3%;
		@include flex(column, space-evenly, center);

		@media only screen and(max-width: 1024px) {
			margin-bottom: 5rem;
		}

		.text {
			text-align: left;
		}
	}

	&__youtube {
		position: relative;
		min-height: 500px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__title {
			margin-top: 1.5rem;
			position: relative;
			margin-bottom: 2.5rem;

			@media only screen and(max-width: 1024px) {
				margin-top: 3rem;
			}
		}

		&__slider {
			width: 70%;
			min-height: 350px;
			height: 70%;

			display: flex;
			flex-flow: row wrap;
			align-content: flex-start;
			overflow: hidden;
			position: relative;

			&__video {
				width: 100%;
				min-height: 350px;
				height: 70%;
				position: absolute;
				border: 1px solid $red-dark;
				border-radius: 5px;
			}
		}

		&__nav {
			@include flex(row, space-around, center);
			position: relative;
			margin-top: 1rem;

			&__balls {
				display: flex;
				flex-direction: row-reverse;
				width: 100%;
				height: 1.5rem;
				text-align: center;

				> .ball {
					align-self: center;
					height: 0.75rem;
					width: 0.75rem;

					border: none;
					border-radius: 50%;
					margin: 0 0.5rem;
				}

				.ball-active {
					background-color: $red-light;
					height: 0.95rem;
					width: 0.95rem;
				}
			}

			&__btn {
				background-color: transparent;
				border: none;
				color: $light;
				cursor: pointer;
				font-size: 2rem;

				&:hover {
					color: $red-light;
				}

				&--back {
					margin-right: 2rem;
				}

				&--next {
					margin-left: 2rem;
				}
			}
		}

		&__link {
			background-color: $red-light;
			border-radius: 5px;
			color: $light;

			font-family: $font-complement;
			font-size: 3rem;
			text-align: center;
			margin-top: 2.5rem;

			line-height: 5rem;
			width: 15rem;

			text-decoration: none;

			&:hover {
				font-weight: bold;
			}
		}
	}
}

// @media only screen and(max-width: 1024px) {
// 	-webkit-transform: none;
// }

// .btn-slide {
// 	cursor: pointer;
// 	font-size: 3rem;
// 	background: transparent;
// 	border: none;
// 	color: $light-dark;

// 	position: absolute;
// 	top: 50%;
// 	transform: translate(0, -60%);

// 	z-index: 9999;

// 	&--back {
// 		left: 1rem;
// 	}

// 	&--next {
// 		right: 1rem;
// 	}
// }
