.records {
	@extend %containerPadding;
	width: 100%;

	display: flex;
	flex-direction: column;

	background-color: $light;

	&__container {
		max-width: 1350px;
		margin: 0 auto;
	}

	&__singles {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-row: 1fr 1fr;
		grid-gap: 50px;
		justify-items: center;
		padding: 5rem 0.5rem;

		position: relative;

		@media only screen and (max-width: 960px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media only screen and (max-width: 600px) {
			grid-template-columns: 1fr;
		}
	}

	&__single {
		position: relative;

		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-gap: 1rem;

		@media only screen and (max-width: 600px) {
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				display: none;
			}
		}

		&__number {
			grid-column: 1/1;
			grid-row: 1/1;

			font-size: 3rem;
			font-family: $font-complement;
			color: $dark;
			font-weight: bold;
			align-self: end;
		}

		&__img {
			border-radius: 5px;

			grid-column: 1/4;
			grid-row: 2/-1;
		}

		&__play {
			grid-column: 2/3;
			grid-row: 3/4;

			border: 5px solid $light;
			border-radius: 50px;
			position: relative;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			&__btn {
				background-color: $light;
				clip-path: polygon(70% 50%, 35% 30%, 35% 70%);
				width: 100%;
				height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		&__heading-4 {
			grid-column: 4/6;
			grid-row: 4/5;
			@include fluid-font(18px, 24px);
			font-family: $font-complement;
			color: $red-light;
			align-self: center;
			text-shadow: 1px 1px $light-dark;
		}
	}

	&__btn-show-more {
		@include fluid-font(18px, 22px);
		background-color: transparent;
		border: 1px solid $green-light;
		border-radius: 5px;
		color: $dark;
		cursor: pointer;

		padding: 1rem;
		display: none;

		&:hover {
			border-color: $red-light;
		}

		@media only screen and(max-width: 600px) {
			display: inline-block;
		}
	}
}
